body {
  background-color: #3399cc;
  background-image: linear-gradient(to bottom, #3399cc, #c2e0f0, #3399cc);
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  line-height: 200%;
  background-color: #000033;
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding-left: 1em;
  background-image: url(images/sunset.jpg);
  background-position-x: right;
  background-repeat: no-repeat;
  height: 72px;
  margin-bottom: 0;
}

#wrapper {
  width: 80%;
  height: 100%;
  min-width: 700px;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  background-color: #000033;
  box-shadow: 3px 3px 3px #3399cc;
  border: 1em;
}

nav {
  float: left;
  width: 160px;
  font-weight: bold;
  list-style-type: none;
  padding: 0;

  /*padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;*/
}
nav a:link {
  color: #ffffff;
}
nav a:visited {
  color: #c2e0f0;
}

nav a:hover {
  color: #cccccc;
}
h2 {
  color: #3399cc;
  font-family: Georgia, "Times New Roman", Times, serif;
}
dt {
  color: #000033;
  font-weight: bold;
}
.resort {
  color: #000033;
  font-size: 1.2em;
}
.heads {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.add {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer {
  text-align: center;
  font-style: italic;
  font-size: 0.7em;
  padding: 1em;
  margin-left: 170px;
  background-color: #ffffff;
  padding-bottom: 1em;
}

h3 {
  color: #000033;
}
main {
  padding-left: 2em;
  padding-right: 2em;
  display: block;
  background-color: #ffffff;
  margin-left: 170px;
  padding-top: 1px;
  padding-bottom: 1px;
}
#homehero {
  height: 300px;
  background-image: url(images/coast.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 170px;
}

#yurthero {
  height: 300px;
  background-image: url(images/yurt.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 170px;
}

#trailhero {
  height: 300px;
  background-image: url(images/trail.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-left: 170px;
}

nav a {
  text-decoration: none;
}
nav ul {
  list-style-type: none;
  padding-left: 1em;
}

* {
  box-sizing: border-box;
}

#mobile {
  display: none;
}

#desktop {
  display: inline;
}

header,
nav,
main,
footer {
  display: block;
}
table {
  border: 1px solid #3399cc;
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}

td,
th {
  padding: 5px;
  border: 1px solid #3399cc;
}
td {
  text-align: center;
}
.text {
  text-align: left;
}
tr:nth-of-type(even) {
  background-color: #f5fafc;
}

@media only screen and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    background-image: none;
  }

  #wrapper {
    width: auto;
    min-width: 0;
    margin: 0;
    box-shadow: none;
  }

  h1 {
    margin: 0;
  }

  nav {
    float: none;
    width: auto;
    padding-top: 0.01em;
    padding-bottom: 0.01em;
    padding-left: 1em;
    padding-right: 1em;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    padding-right: 2em;
  }

  main {
    padding: 1em;
    margin-left: 0;
    font-size: 90%;
  }

  footer {
    margin: 0;
  }

  #homehero {
    margin-left: 0;
  }

  #yurthero {
    margin-left: 0;
  }

  #trailhero {
    margin-left: 0;
  }
}

@media only all and (max-width: 768px) {
  h1 {
    height: 100%;
    font-size: 1.5em;
    padding-left: 0.3em;
  }

  nav {
    padding: 0;
  }

  nav a {
    display: block;
    padding: 0.2em;
    font-size: 1.1em;
    border-bottom: 1px #330000;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav li {
    display: block;
    margin: 0;
    padding: 0;
  }

  main {
    padding-top: 0.1em;
    padding-right: 0.6em;
    padding-bottom: 0.1em;
    padding-left: 0.4em;
  }

  #homehero {
    display: none;
  }

  #yurthero {
    display: none;
  }

  #trailhero {
    display: none;
  }

  footer {
    padding: 0;
  }

  #mobile {
    display: inline;
  }

  #desktop {
    display: none;
  }
}
