body {
  /* background-color: #3399cc;*/
  background-color: #3399cc;
  /*background-image: linear-gradient(to bottom, #3399cc, #c2e0f0, #3399cc);*/
  color: #666666;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  line-height: 200%;
  /* background-color: #2A4F6E;*/
  background-color: #ffffff;

  color: #3399cc;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.8em;
  font-style: italic;
  padding-left: 1em;
  background-image: url(images/headerqq2.jpg);
  background-position-x: right;
  background-repeat: no-repeat;
  height: 200px;
  margin: 0;
  width: 100%;
  padding-top: 1.5em;
  
}
dl {
  padding-left: 0;
}
dt {
  color: #3399cc;
  font-weight: bold;
}
#wrapper {
  width: 80%;
  height: 100%;
  min-width: 700px;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
  /*background-color: #000033;*/
  background-color: #3399cc;
  border: 1em;
}

nav {
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  /*background-color: #3399cc;*/
  background-color: #3399cc;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
}

nav a:link {
  color: #ffffff;
}
nav a:visited {
  color: #c2e0f0;
}

nav a:hover {
  color: #cccccc;
}

a {
  text-decoration: none;
}

h2 {
  color: #3399cc;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0%;
  height: 10px;
  padding-bottom: 5px;
}

.heads {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

footer {
  text-align: center;
  font-style: italic;
  font-size: 0.7em;
  padding: 1em;
  /*margin-left: 170px;
  background-color: #077fbb;*/
  background-color: #3399cc;
  padding-bottom: 1em;
  padding-top: 2em;
  height: 150px;
}

h3 {
  color: #ffffff;
  font-size: 1.3em;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #3399cc;
  height: 40px;
  text-align: center;
}
main {
  padding-left: 2em;
  padding-right: 2em;
  display: block;
  /* background-color: #ffffff;
  margin-left: 170px;*/
  background-color: #e7e3e3;
  padding-top: 1px;
  padding-bottom: 1px;
  height: auto;
}
.streamPhotos {
  height: auto;
  /*height: 500px;
  background-image: url(images/headerqq2.jpg);
  /*background-image: url(images/index.jpg);*/
  background-repeat: no-repeat;
  background-size: 100% 100%;

  color: #ffffff;
  /*margin-left: 170px;*/
}
#streamPhotos1 {
  height: auto;
  /*height: 717px;
  background-image: url(images/customer1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;*/

  color: #ffffff;
  /*margin-left: 170px;*/
}

#streamPhotos2 {
  height: 600px;
  background-image: url(images/web2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  color: #ffffff;
  /*margin-left: 170px;*/
}

.streamPhotos4 {
  height: 830px;
  background-image: url(images/brochure4.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  color: #ffffff;
}
#toppic{
  height: 200px;
  background-image: url(images/toppic.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  color: #ffffff;

}
.column1 {
  /*background-image: url(images/logo2.png);
  background-repeat: no-repeat;*/
  background-size: 100% 100%;

  color: #e7e3e3;
  float: left;
  width: 25%;
  height: 250px;
  padding-top: 10px;
  margin-bottom: 0px;
  background-color: #e7e3e3;
  /*margin-left: 170px;*/
}
.row {
  width: auto;
  background-color: #e7e3e3;
  padding-bottom: 5px;
}
.row1 {
  width: auto;
 /* background-color: #e7e3e3;*/
  padding-bottom: 0px;
  padding-top: 26.9%;
}

#aboutPhotos {
  height: 700px;
  background-image: url(images/about1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  color: #ffffff;
}

#career1{
  margin-right: 260px;
  margin-top: 20px;
  padding-right: 10px;
  color: #666666;
  border-right: 2px solid blue;
  height: 700px;
  background-image: url(images/about1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#career{
  margin-bottom: 20px;
  /*height: 600px;
  background-image: url(images/team2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

  color: #ffffff;

}*/
}
aside{
  float: right;
  width: 250px;
  border-top: 20px;
  padding-top: 20px;
  background-color: #e7e3e3;
  height: 698px;

}
aside h3{
  background-color:#e7e3e3;
  color: #3399cc;
}

#contactUs{
  height: 650px;
  background-image: url(images/about1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

nav a {
  text-decoration: none;
  padding-right: 1.5em;
}
nav ul {
  list-style-type: none;
  padding-left: 1em;
}
footer ul {
  float: right;
  list-style-type: none;
  padding-left: 1em;
}

* {
  box-sizing: border-box;
}
ul li {
  list-style-type: none;
  text-decoration: none;
}
li {
  display: inline-block;
  width: 225px;
  padding-bottom: 10px;
  margin: 10px;
  background-color: #3399cc;
  text-align: center;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #ffffff;
  text-decoration: none;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  color: rgb(12, 1, 1);
  width: 80%;
  padding-left: 1.6em;
}

#paragraph{
  padding-top: 25px;
}

address {
  position: absolute;
}

#port ul {
  list-style-type: none;
}
#port li {
  display: inline-block;
  padding-bottom: 10px;
  margin: 10px;
  text-align: center;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.policy {
  list-style-type: none;
  margin: 0;
  /*background-color: #3399cc;*/
  background-color: #3399cc;
  padding-top: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 2em;
  text-align: center;
  font-size: 0.8em;
}

.policy a {
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 0%;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: #3399cc;
  padding-right: 10px;
  text-align: center;
  font-style: italic;
}
#blue {
  color: darkblue;
  font-weight: bold;
}
ol li {
  text-decoration: none;
}

#mobile {
  display: none;
  padding-left: 1.8em;
}

#desktop {
  display: inline;
  padding-left: 1.8em;
}

button {
  border-radius: 60px;
  padding: 1em;
  color: #ffffff;
  background-color: #3399cc;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
.column {
  float: left;
  width: 33.33%;
  border-top-left-radius: 5px;
  border-color: #3399cc;
  border-style: groove;
  height: 220px;
  padding-top: 10px;
  /*margin-bottom: 20px;*/
  color: #3399cc;
  background-color: #e7e3e3;
  border-radius: 5px 20px 5px;
}

table {
  border: 1px solid #3399cc;
  width: 90%;
  margin: auto;
  border-collapse: collapse;

}

td,
th {
  padding: 10px;
  /*border: 1px solid #3399cc;*/
}
td {
  text-align: left;
}

tr:nth-of-type(even) {
  background-color: #aad8eb;
}

label {
  float: left;
  display: block;
  width: 8em;
  padding-right: 1em;
}

input {
  display: block;
  margin-bottom: 1em;
  width: 25%;
}

textarea {
  display: block;
  margin-bottom: 1em;
  width: 30%;
}

.mySubmit {
  margin-left: 12em;
  width: 20%;
  height: 30px;
  background-color: #3399cc;
}
button{
  width: 30px;
  height: 25px;
}
fieldset{
  width: 520px;
  border: 2px ridge #3399cc;
  padding: 10px;
  margin-bottom: 10px;
  }
  legend{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }
 
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: gray;
  border: 1px solid #2196F3;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #2196F3;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
  /* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  
}

#subRequest{
  color: #2196F3;
  font-weight: bold;
  font-size: 1.3em;

}
#bottom { 
  position: static;                  
  bottom:0;                          
  left:0;                          
}
/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 20px;
  border: 1px solid grey;
  float: left;
  width: 35%;
  background: #f1f1f1;
  margin-left: 2em;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  height: 40px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 20px;
  border: 2px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}



/*area{
  border: 2px solid red;
}*/

header,
nav,
main,
footer {
  display: block;
}



@media only screen and (max-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    background-image: none;
  }

  #wrapper {
    width: auto;
    min-width: 0;
    margin: 0;
    box-shadow: none;
  }

  h1 {
    margin: 0;
  }

  nav {
    float: none;
    width: auto;
    padding-top: 0.01em;
    padding-bottom: 0.01em;
    padding-left: 1em;
    padding-right: 1em;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    padding-right: 2em;
  }

  main {
    padding: 1em;
    margin-left: 0;
    font-size: 90%;
  }

  footer {
    margin: 0;
  }

  #homehero {
    margin-left: 0;
  }

  dt {
    color: #3399cc;
    font-weight: bold;
  }
}

@media only all and (max-width: 768px) {
  h1 {
    height: 100%;
    font-size: 1.5em;
    padding-left: 0.3em;
    color: rgb(37, 52, 85);
  }
  h3{
    height: 45px;
  }

  nav {
    padding: 0;
  }

  nav a {
    display: block;
    padding: 0.2em;
    font-size: 1.1em;
    border: 1px;
  }

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav li {
    display: block;
    margin: 0;
    padding: 0;
  }

  main {
    padding-top: 0.1em;
    padding-right: 0.6em;
    padding-bottom: 0.1em;
    padding-left: 0.4em;
  }

  .column{
    display: none;
  }

  .column1 {
    display: none;
  }

  footer {
    padding: 0;
  }

  #mobile {
    display: inline;
  }

  #desktop {
    display: none;
  }
  .column {
    width: 100%;
  }
  .column1 {
    width: 100%;
  }
 #customer{
    display: none;
  }
  fieldset{
    width: 100%;
  }
  img {
    height: 100%;
    width: 100%;
  }
  #bottom { 
    position:static;                  
    bottom:0;                          
    left:0;   
    color: #3399cc;                       
  }
  aside{
    display: none;
  }
  #career1{
  padding-left: 2em;
  padding-right: 2em;
  height: 100%;
  width: 100%;
  }
  /*#streamPhotos2{
  height: 100%;
  width: 100%;

  }*/
  
}
